@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-cyan: #00FFFF;
  --color-magenta: #FF00FF;
  --color-dark: #1E1E1E;
  --color-light: #F0F0F0;
}

@layer base {
  body {
    @apply text-[#F0F0F0] bg-[#1E1E1E];
  }
}

@layer components {
  .text-primary {
    @apply text-[#FFFFFF]; /* Change to a lighter color */
  }
  .text-secondary {
    @apply text-[#00FFFF];
  }
  .text-accent {
    @apply text-[#FF00FF];
  }
  .hover-text {
    @apply hover:text-[#00FFFF];
  }
  .bg-primary {
    @apply bg-[#1E1E1E]; /* Ensure this has enough contrast with text */
  }
  .bg-secondary {
    @apply bg-[#2E2E2E];
  }
}

body {
  background-color: var(--color-dark);
  background-image: 
    linear-gradient(
      135deg,
      rgba(102, 5, 102, 0.2) 0%,
      var(--color-dark) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 100% 100%, 20px 20px, 20px 20px;
  background-position: 0 0, 0 0, 0 0;
  background-attachment: fixed;
}

nav {
  background-color: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(5px);
}

/* Gradient text effect */
.gradient-text {
  background: linear-gradient(45deg, var(--color-cyan), var(--color-magenta));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-bold {
  font-weight: bold; /* Make text bold */
}

.text-dark {
  color: #1E1E1E; /* Dark color for better contrast */
}

.text-light {
  color: #494949; /* Light color for background */
}

/* Add this to your global CSS or component-specific CSS */
.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.block {
  display: block;
}

.mb-4 {
  margin-bottom: 1rem;
}

.bg-pattern-features {
  background-color: #0f0326;
  background-image: 
    radial-gradient(circle at 25% 25%, rgba(128, 90, 213, 0.2) 0%, transparent 50%),
    radial-gradient(circle at 75% 75%, rgba(128, 90, 213, 0.2) 0%, transparent 50%),
    linear-gradient(135deg, rgba(76, 29, 149, 0.1) 0%, rgba(76, 29, 149, 0.3) 100%);
  background-size: 100% 100%;
}
